<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Enlace con la hoja de estilo -->
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="fonts/fuentes.css">
    <!-- Aqui enlaces de las fuentes de google -->
    <title>Doge Association</title>


</head>
<body>
    <!-- Esto es el encabezado -->
    <header class="encabezado">

       <div class="contenedor contenedor-nav">

                <img src="img/Doge logo blanco.svg" alt="Vector" width="100">

       <!-- Parte de la navegacion -->
                <nav class="nav">

                    <ul>
                        <li>
                            <a href=""> Inicio </a>
                        </li>

                        <li>
                            <a href=""> Perfil </a>
                        </li>

                        <li>
                            <a href=""> Configuracion </a>
                        </li>

                    </ul>

                </nav>
        </div>

    </header>
    
    <div class="contenedor2">
        
        <div class="div1 alinear">

            <!-- Contenido PRINCIPAAAAAAAAAL -->
           <section>

                                <article class="contenidoprincipal">

                                    <div class="imagenprincipal">

                                        <img src="img/gato.jpg" alt="Imagen principal" width="674" class="imagenprincipal">
                                        
                                        <h3>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, explicabo!
                                        </h3>
                                        
                                        <a href="#" class="btn"> Lorem, ipsum. </a>

                                    </div>


                                </article>
              </section>

        </div>
            
    
        <div class="div2 alinear">


                                    
              <!-- Contenido adicional -->

             <section class="contadi">

                                            <div class="tsecundario">

                                                <h2> Lorem ipsum dolor sit amet.</h2> 
                                                
                                            </div>

                                        <article>

                                            <div class="imagen">

                                                <!-- <img src="/img/cuadro (1).jpg" alt="Cuadro 1" width="250"> -->

                                            </div>

                                    
                                            
                                                <p>
                                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit veritatis alias, consectetur corporis aut accusantium a voluptatum reiciendis odit architecto!
                                               </p>
                                            
                                            

                                        </article>
                                        
                                        <article>
                                    
                                            <div class="imagen2">
                                                <!-- <img src="/img/cuadro (2).jpg" alt="Cuadro 2" width="250"> -->
                                            </div>

                                            <p>
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit veritatis alias, consectetur corporis aut accusantium a voluptatum reiciendis odit architecto!
                                            </p>
                                        </article>
                                        
                                        <article>
                                            
                                            <div class="imagen3">
                                                <!-- <img src="/img/cuadro (3).jpg" alt="Cuadro 3" width="250"> -->
                                            </div>
                                            
                                            <p>
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit veritatis alias, consectetur corporis aut accusantium a voluptatum reiciendis odit architecto!
                                            </p>

                                        </article>
                                        
                                        <article>
                                            
                                            <div class="imagen4">
                                                <!-- <img src="/img/cuadro (4).jpg" alt="Cuadro 4" width="250"> -->
                                            </div>
                                            
                                            <p>
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit veritatis alias, consectetur corporis aut accusantium a voluptatum reiciendis odit architecto!
                                            </p>

                                        </article>
                                        
                                        <article>
                                            
                                            <div class="imagen5">
                                                <!-- <img src="/img/cuadro (4).jpg" alt="Cuadro 4" width="250"> -->
                                            </div>
                                            
                                            <p>
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit veritatis alias, consectetur corporis aut accusantium a voluptatum reiciendis odit architecto!
                                            </p>

                                        </article>

                                        <article>
                                            
                                            <div class="imagen6">
                                                <!-- <img src="/img/cuadro (4).jpg" alt="Cuadro 4" width="250"> -->
                                            </div>
                                            
                                            <p>
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit veritatis alias, consectetur corporis aut accusantium a voluptatum reiciendis odit architecto!
                                            </p>

                                        </article>

                                        <article>
                                            
                                            <div class="imagen7">
                                                <!-- <img src="/img/cuadro (4).jpg" alt="Cuadro 4" width="250"> -->
                                            </div>
                                            
                                            <p>
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit veritatis alias, consectetur corporis aut accusantium a voluptatum reiciendis odit architecto!
                                            </p>

                                        </article>

               </section>


        </div>

        
    </div>


</body>
</html>