<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Enlace con la hoja de estilo -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/fonts/fuentes.css">
    <!-- Aqui enlaces de las fuentes de google -->
    <title>Doge Association</title>


</head>
<body>
    <!-- Esto es el encabezado -->
    <header class="encabezado">

       <div class="contenedor contenedor-nav">

                <img src="img/Doge logo blanco.svg" alt="Vector" width="100">

       <!-- Parte de la navegacion -->
                <nav class="nav">

                    <ul>
                        <li>
                            <a href=""> Inicio </a>
                        </li>

                        <li>
                            <a href=""> Perfil </a>
                        </li>

                        <li>
                            <a href=""> Configuracion </a>
                        </li>

                    </ul>

                </nav>
        </div>

    </header>
    
    <div class="contenedor2">
        
        <div class="div1 alinear">

            <!-- Contenido PRINCIPAAAAAAAAAL -->
           <section>

                                <article class="contenidoprincipal">

                                    <div class="imagenprincipal">

                                        <img src="img/gato.jpg" alt="Imagen principal" width="674" class="imagenprincipal">
                                        
                                        <h3>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, explicabo!
                                        </h3>
                                        
                                        <a href="#" class="btn"> Lorem, ipsum. </a>

                                    </div>


                                </article>
              </section>

        </div>
            
    
        <div class="div2 alinear">


                                    
              <!-- Contenido adicional -->

             <section class="contadi" id="contenedor-perros">
                            <div class="tsecundario">
                                <h2>Adoptame 🙁</h2>                         
                            </div>
                            <img id="loading" src="img/home/loading.svg">
               </section>


        </div>

        
    </div>

    <script src="js/home.js"></script>
</body>
</html>