<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/isLogin.js"></script>
    <!-- Enlace con la hoja de estilo -->
    <link rel="icon" href="/img/Dogeicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/fonts/fuentes.css">
    <link rel="stylesheet" href="/css/nav.css">
    <!-- Aqui enlaces de las fuentes de google -->
    <title>Doge Association</title>


</head>
<body>
    <div>
        <%- include('nav') %>
    </div>
    <div class="contenedor2">       
        <div class="div1 alinear">
            <!-- Contenido PRINCIPAAAAAAAAAL -->
           <section>
                                <article class="contenidoprincipal">
                                    <div class="imagenprincipal">
                                        <img src="img/dropPet/perro.jpg" alt="Imagen principal" width="674" class="imagenprincipal" id="carrusel">                                       
                                        <h3>
                                            Consigue un mejor amigo y ayuda a combatir el abandono de mascotas
                                        </h3>                                       
                                        <a href="#" class="btn">Nuestra mision</a>
                                    </div>
                                </article>
              </section>
        </div>   
        <div class="div2 alinear">                                    
              <!-- Contenido adicional -->
             <section class="contadi" id="contenedor-perros">
                            <div class="tsecundario">
                                <h2>Adoptame 🙁</h2>                         
                            </div>
                            <img id="loading" src="img/home/loading.svg">
               </section>
        </div>

        
    </div>

    <script src="js/home.js"></script>
    <script src="js/salir"></script>
</body>
</html>