<header class="encabezado">

    <div class="contenedor contenedor-nav">

             <img src="/img/Doge logo blanco.svg" alt="Vector" width="100">

    <!-- Parte de la navegacion -->
             <nav class="nav">

                 <ul>
                     <li class="li">
                         <a href="/home"> Inicio </a>
                     </li>

                     <li class="li">
                         <a href="/publicaciones">Publicaciones</a>
                     </li>

                     <li class="li">
                         <a href="/dropPet">Poner en adopción</a>
                     </li>
                     <li class="li">
                        <a href="/tusPost" id="">Tus publicaciones</a>
                    </li>
                     <li class="li">
                         <a href="" id="salir">Salir</a>
                     </li>
                 </ul>

             </nav>
     </div>
 </header>   
