<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/posts.css">
    <title>Busca una mascota</title>
</head>
<body>
    <header class="encabezado">
        <div class="contenedor contenedor-nav">
                 <img src="/img/Doge logo blanco.svg" alt="Vector" width="100"> 
        <!-- Parte de la navegacion -->
                 <nav class="nav">
                     <ul>
                         <li>
                             <a href="/home"> Inicio </a>
                         </li>
                         <li>
                             <a href="/publicaciones">Publicaciones</a>
                         </li>
                         <li>
                             <a href="/dropPet">Poner en adopción</a>
                         </li>
                         <li>
                             <a href="/login" id="salir">Salir</a>
                         </li>
                     </ul>
                 </nav>
         </div>
     </header>   
     <section class="contenedor-perros">
         <h1 class="p_perros">Busca tu mascota favorita</h1>
         <div id="contenedor-perros">
            <img id="loading" src="/img/home/loading.svg">
         </div>     
    </section>
    <script src="/js/getPets.js"></script>
     <script src="/js/salir.js"></script>
</body>
</html>