@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap');

:root {
    --Color-1: #1D0A3F;
    --Color-2: #F1BA52;
    --Color-3: #f3c894;
    --Color-4: #d9804d;
    --Color-5: #a74b4b;
}

html {
    font-family: 'Signika Negative', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--Color-3);
}
.container__form{
    width: auto;
    height: 75vh;
    overflow-y:scroll;
}
.container__form::-webkit-scrollbar {
    display: none;
  }
.container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

.img{
    margin-top: 40px;
    width: 30%;
    height: 400px;
    background-color: #a5a5a5;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.6);
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.div_form {
    background-color: var(--Color-1);
    width: 40%;
    height: min-content;
    border-radius: 20px;
    margin-top: 40px;
    padding: 20px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.6);
    height: 85vh;
}

.form h2 {
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.form label{
    display: block;
    font-size: 20px;
    color: var(--Color-2);
    font-weight: bold;
}

.form input {
    display: block;
    width: 99%;
    height: 50px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
}

.form textarea {
    resize: none;
    width: 99%;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
}

.submit {
    color: #fff;
    background-color: var(--Color-5);
    transition: 0.3s ease;
    cursor: pointer;
} 

.submit:hover{
    color: var(--Color-5);
    background-color: #fff;
}
input[value],
input[value~="Nombre_mascota"],
input[value~="Descripción"],
input[value~="Tel_number"],
input[value~="Adoptar"] {
    font-size: 20px;
    text-align: center;
    font-family: 'Signika Negative';
}

input[placeholder~="Dirección"],
input[name~="input_tel_owner"] {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Signika Negative';
}

textarea[name~="comment"] {
    font-size: 20px;
    font-family: 'Signika Negative';
}