@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap');

:root {
    --Color-1: #1D0A3F;
    --Color-2: #F1BA52;
    --Color-3: #f3c894;
    --Color-4: #d9804d;
    --Color-5: #a74b4b;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Signika Negative', sans-serif;
}

.div1 {
    width: 80%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.logo {
    width: 40%;
    height: 400px;
    background: url(/img/logo.png) no-repeat center/cover;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.329);
}

.form {
    width: 30%;
    height: 400px;
    background-color: var(--Color-1);
    border-radius: 10px;
    margin: 0;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.329);
}

.form label {
    display: block;
    color: var(--Color-2);
    font-size: 20px;
}

.form input{
    display: block;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
}

.form textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    resize: none;
}

.divfile{
    margin: 10px 0;
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: var(--Color-4);
    color: #fff;
}

.divfile_text{

    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    margin: 0;
    font-size: 20px;
}

.file {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}



.button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #2a8d21;
    color: #fff;
    transition: all 0.3s ease;
    margin-top: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #fff;
    color: #2a8d21;
}



