@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap');

:root {
    --Color-1: #1D0A3F;
    --Color-2: #F1BA52;
    --Color-3: #f3c894;
    --Color-4: #d9804d;
    --Color-5: #a74b4b;
}

html {
    font-family: 'Signika Negative', sans-serif;
}


.container-fluid{
    height: 100vh;
    overflow: hidden;
}
