@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap');

:root {
    --Color-1: #1D0A3F;
    --Color-2: #F1BA52;
    --Color-3: #f3c894;
    --Color-4: #d9804d;
    --Color-5: #a74b4b;
}

body {
    font-family: duolingo-2,'Times New Roman', Times, serif;
}

h1 {
    font-family: duolingo;
}

body {
    margin: 0;
    background: url(/img/login/fondoweb.jpg) no-repeat;
    background-size: 100%;
}

p, a {
    color: #fff;
    text-decoration: none;
}

a {
    border-radius: 5px;
    transition: all 0.3s ease-in;
}

a:hover {
    color: var(--Color-2);
    cursor: pointer;
    background-color: var(--Color-5);
    border-radius: 5px;
}


.div1 {
    /* background-color: blueviolet; */
    width: 80%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.divlogo {
    background-color: rgb(80, 80, 80);
    width: 40%;
    height: 400px;
    background: url('/img/Doge logo.svg') no-repeat center/cover;
    display: block;
    flex-direction: column;
    justify-content: flex-end;
    /* margin-right: 20px; */
}

.frase {
    color: #000;
    /* background-color: rgb(46, 46, 46); */
    position: absolute;
    top: 330px;
    left: 15px;
    font-family: duolingo;
    font-size: 30px;
    width: 500px;
}


.container {
    width: 30%;
    height: 350px;
    background-color: var(--Color-1);
    border-radius: 10px;
    margin: 0;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 3px 3px 15px var(--Color-1);
}

.container label {
    display: block;
    color: var(--Color-2);
    font-family: duolingo, Arial, Helvetica, sans-serif;
    font-size: 20px;
}  

.container input {
    display: block;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
}

.send {
    width: 100%;
    height: 50px;
    background-color: var(--Color-5);
    color: #fff;
    border-radius: 15px;
    transition: all 0.3s ease;
    margin-bottom: 25px;
    margin-top: 10px;
}

.send:hover {
    background-color: #fff;
    color: var(--Color-5);
}





