@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap');

:root {
    --Color-1: #1D0A3F;
    --Color-2: #F1BA52;
    --Color-3: #f3c894;
    --Color-4: #d9804d;
    --Color-5: #a74b4b;
}

body {
    font-family: duolingo-2,'Times New Roman', Times, serif;
}

h1 {
    font-family: duolingo;
}

body {
    margin: 0;
    padding: 0;
    background: url(/img/login/fondoweb.jpg) no-repeat;
    background-size: 100%;
}


.logo {
    width: 40%;
    height: 400px;
    background: url(/img/Doge\ logo.svg) no-repeat center/cover;
    display: block;
    flex-direction: column;
    justify-content: flex-end;
}

.sing-up__container {
    width: 80%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo_text {
    color: #000;
    /* background-color: rgb(46, 46, 46); */
    position: absolute;
    top: 405px;
    left: 15px;
    font-family: duolingo;
    font-size: 30px;
    width: 500px;
}


.sing-up__container-form {
    width: 30%;
    height: 550px;
    background-color: var(--Color-1);
    border-radius: 10px;
    margin: 0;
    padding: 20px;
    margin: 0 auto;
}


.sing-up__container-form label {
    display: block;
    color: var(--Color-2);
    font-family: duolingo, Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.sing-up__container-form h2 {
    color: #fff;
}

.sing-up__container-form-input {
    display: block;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
}

.sing-up__container-form-button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: var(--Color-5);
    color: #fff;
    transition: all 0.3s ease;
    margin-top: 5px;
}

.sing-up__container-form-button:hover {
    background-color: #fff;
    color: var(--Color-5);
}

.sing-up__container-form p{
    color: #fff;
    margin-top: 10px;
}

.sing-up__container-form a {
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    transition: 0.5s ease;
}

.sing-up__container-form a:hover {
    background-color: var(--Color-2);
    color: var(--Color-1);
    border-radius: 5px;
    cursor: pointer;
}