@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap');

:root {
    --Color-1: #1D0A3F;
    --Color-1-opacity: #1d0a3ff1; 
    --Color-2: #F1BA52;
    --Color-3: #f3c894;
    --Color-4: #d9804d;
    --Color-5: #a74b4b;
    --Color-78:rgb(32, 32, 32);
    --font-family2:'Signika Negative', sans-serif;
}


/* Elimina el margen por defecto del ordenador */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika Negative', Arial, Helvetica, sans-serif;
}


/* Aqui va la edicion del contenido principal */


/* Añadi un borde a la imagen, con un color de fondo si falta, la propiedad background sirve de mucho en vez de hacer una mascara de recorte, se especifica el alto y ancho de la imagen añadiendo atributos de no repetir, centrar y utilizar como caratula seguido de eso, utilizando flexbox para alinear el texto que queremos resaltar*/

.imagenprincipal{
    border-radius: 30px;
    overflow: hidden;
    width: 674px;
    height: 557px;
    /* background: url(/img/gato.jpg) no-repeat center/cover; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
}

.imagenprincipal img {
    width: 100%;
}

/* Editar la forma del boton en la imagen principal  */

.btn {
    color: #F1BA52;
    display: block;
    width: 150px;
    padding: 15px;
    background-color: #1D0A3F;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 30px;
    transition: all 0.3s ease;
}

/* Cuando pase el cursor, cambia las propiedades a las que se le describio */
.btn:hover {

    background-color: var(--Color-2);
    color: var(--Color-1);
    cursor: pointer;
    border-radius: 30px;    

}

/* Añadi un margen para que no se apegue mucho a la imagen  */
.imagenprincipal h3, .btn {
    margin: 30px;

}
/* Agrande el tamaño de la frase en la imagen principal  */
.imagenprincipal h3 {
    font-size: 30px;
    color: #F1BA52;
}

.contenidoprincipal{
    margin-top: 150px;
    width: min-content;
    padding: 10px;
}

/* Señalo la seccion que contiene los artiulos añadiendo un espaciado interno y un flexbox para posicionar a lado  */

section article {
    /* background-color: aqua; */
    padding: 10px;
    display: flex;
}
.adoptame__article{
    cursor:pointer;
}
/*  
.contadi {
    background-color: brown; 
    
} */
 

/* Añadi un margen a cada articulo para que no se vean juntos */
.contadi article {
    background-color: #e2e2e2;
    margin: 10px 10px;
    align-items: center;
    border-radius: 30px;
    display: flex;
}
.contadi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Ajustar el texto con un margen a la izquiera para que no se pegue mucho, su bloque ocupa el 100% y su altura es el contenido minimo */

.contadi article p {
    /* background-color: chocolate; */
    margin-left: 20px;
    width: 100%;
    height: min-content;
    
}

/* Centrar el subtitulo de el contenido adicional */

.tsecundario{
    text-align: center;
}

#loading{
    width: 30px;
    height: 30px;
    animation: rotar 1.5s infinite;
    animation-timing-function:linear;
    order: 999;
}
@keyframes rotar{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

/* Donde esta la imagen principal, el contenedor ocupa el espacio minimo sin ocultar el contenido */

.div1 {
    /* background-color: darkgreen; */
    width: min-content;
}


/* .div2 {

    background-color: darkorange;
} */

/* Asignamos un ancho y alto acorde a la medida para que no se coloque por debajo de la imagen principal  */


.div2 {
    /* background-color: aqua; */
    width: 48%;
    height: 557px;
    overflow-y: scroll;
    float: right;
    
}


/* Personalizar la scroollbar del body y seguido de eso del contenido adicional*/

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb{
    background-color: var(--Color-1);
    border-radius: 10px;
}

.div2::-webkit-scrollbar{
    width: 8px;
}


.div2::-webkit-scrollbar-thumb{
    background-color: #F1BA52;
    border-radius: 10px;
}
.div2{
    height: 90vh;
    overflow-y:scroll;
}
/* Personalizar las imagenes de los articulos  */

.imagen {
    border-radius: 30px;
    height: 150px;
    width: 150px;
}
.adoptame__article{
    width: 40vw;
    color: rgb(99, 99, 99);
    border-radius: 30px;
}
.adoptame__article:hover
{
      color: rgb(99, 99, 99);
}


/* Area de notificaciones */

.notification {
    border-radius: 10px;
    position: absolute;
    top: 80px;
    left: 750px;
    background-color: var(--Color-1-opacity);
    overflow-y: scroll;
    width: max-content;
    height: 400px;
    height: 250px;
}

.notification_h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

.notification_li {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 340px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.notification_li_a {
    color: var(--Color-2);
    text-decoration: none;
    width: 60%;
}

.notification_li_a_img {
    width: 80px;
    height: 50px;
    border-radius: 5px;
}

.notification::-webkit-scrollbar{
    width: 5px;
    background-color: var(--Color-1-opacity);
    border-radius: 10px;
}

.notification::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: var(--Color-3);
    border-radius: 10px;
}

.notification_display {
    display: none;
}
.div__3img{
    border-radius: 15px;
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.msg-home{
    font-family: var(--font-family2);
    font-size: 1.5em;
    text-align: center;
}
.footer{
    border-top: 1px solid var(--Color-78);
    background-color: var(--Color-78);
    text-align: center;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5em;
}
.footer__ul{
    list-style: none;
}
.footer__ul-li-a{
    text-decoration: none;
    color: var(--Color-4);
}
.container-img-fixed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.container-carrusel{
    padding-top: 50px;
    height: 70vh;
    display: flex;
    align-items: center;
}
.info__users{
    display: flex;
    height: 40vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(27, 27, 27);
    color: var(--Color-4);
}
